body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.controls button:hover {
  cursor: pointer;
}
.controls button:nth-of-type(1) {
  background-color: green;
}
.controls button:nth-of-type(2) {
  background-color: red;
}
.controls button:nth-of-type(3) {
  background-color: blue;
}
